@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul { 
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 300;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #333;
    color: #fff;
    padding: 0 30px;
    opacity: 0.8;
    position: fixed;
    top: 0px;
}

.logo {
    font-weight: 300;
}

.logo span {
    color: #ffd11a;
}

.navbar a {
    color: #fff;
    margin: 10px;
    padding: 10px 20px;
}

.navbar a:hover {
    border-bottom: #ffd11a 2px solid;
}

.navbar ul {
    display: flex;
}

.header * {
    z-index: 10;
}

.header {
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* needed for centering */
    padding: 20px;
    color: #fff;
}

.content h1 {
    font-size: 55px;
}

.content p {
    font-size: 26px;
    margin: 10px 0 30px; 
    max-width: 600px;
}

.btn {
    background-color: #ffd11a;
    padding: 10px 20px;
    border-radius: 5%;
    color: #fff;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.flex-items > div {
    padding: 20px;
}

#about i {
    background-color: #ffd11a;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
}

#about h3 {
    padding: 10px;
    font-weight: bold;
}

#about p {
    padding: 5px;
}

.flex-container .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex-container .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-container .column .column-1, 
.flex-container .column .column-2 {
    height: 100%;
}

.flex-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex-container .column .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    background-color: #ffd11a;
    color: #fff;
}

.btn-light {
    background: transparent;
    border: #fff solid 1px;
    padding: 10px 20px;
    border-radius: 5%;
    color: #fff;
    display: inline-block;
}

.column-2 p {
    margin: 20px 0px;
}

.flex-container.reverse .row{
    flex-direction: row-reverse;
}

.flex-container.reverse .column-2 {
    background-color: #0086b3;
}

.flex-container h2 {
    font-size: 40px;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
}

.cases {
    margin: 40px 0;
}

.cases .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.cases .gallery .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery .column img {
    height: 50%;
    width: 100%;
}

.heading{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team .flex-item {
    display: flex;
    flex-wrap: wrap;
}

.team .flex-item > div {
    flex: 33%;
    max-width: 33%;
    text-align: center;    
}

.team .flex-item img {
    width: 100%;
    padding: 20px;
    border-radius: 50%;
}

.contact.flex-container .column-2 {
    background-color: #a4bfb5;
    color: #464545;
}

.contact-form {
    width: 100%;
}

.contact-form .form-control {
    margin-bottom: 15px;
    height: 40px;

}

.contact-form .form-control input{
    height: 40px;
    width: 100%;
    padding: 5px;
    border: 1px solid #F4E9E8;
}

.submit {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
}

.submit:hover {
    opacity: 0.7;
}

footer {
    height: 200px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.media a {
    margin: 10px;
    color: #fff;
}

.media a:hover {
    color: #ffd11a;
}

footer p {
    margin-top: 20px;
}

.flex-container .column .column-2.bg-light {
    background-color: #fff;
    color: #333;
}

.flex-container .column .column-2.bg-dark {
    background-color: #333;
    color: #fff;
}

.header.blog {
    background: url('../img/blog.jpg') no-repeat center center/cover;
    height: 500px;
}

.btn-white {
    background: transparent;
    color: #333;
    border: 1px solid #333;

}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px 10px;
        margin: 0 3px;
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-container .column {
        flex: 100%;
        max-width: 100%;
    }

    .team img {
        width: 70%;
    }

    .gallery .column {
        flex-direction: column;;
        max-width: 100%;
    }
}
